<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminMail">
        <observer name="sendMailToAdmin" instance="FME\Form\Observer\SendMailToAdmin"/>
    </event>
    <event name="userMail">
        <observer name="sendMailToUser" instance="FME\Form\Observer\SendMailToUser"/>
    </event>
</config>